{
  "dry_run": true,
  "dry_run_wallet": 1000,
  "stake_currency": "USDT",
  "stake_amount": "unlimited",
  "timeframe": "1h",
  "max_open_trades": 2,
  "exchange": {
    "name": "binance",
    "key": "",
    "secret": "",
    "ccxt_config": {
      "enableRateLimit": true
    }
  },
  "pairlists": [
    { "method": "StaticPairList" }
  ],
  "edge": {
    "enabled": false
  }
}
