{
  "dry_run": true,
  "runmode": "dry_run",
  "max_open_trades": 1,
  "stake_currency": "USDT",
  "stake_amount": 10,
  "exchange": {
    "name": "binance",
    "key": "",
    "secret": ""
  },
  "pair_whitelist": ["BTC/USDT"],
  "pair_blacklist": [],
  "telegram": {
    "enabled": false
  },
  "api_server": {
    "enabled": false
  },
  "bot_name": "fta-client-CLIENT_ID_PLACEHOLDER"
}
