version: "3.9"

services:
  freqtrade-job:
    image: freqtradeorg/freqtrade:stable
    container_name: fta-job-CLIENT_ID_PLACEHOLDER-JOB_ID_PLACEHOLDER
    command: ["backtesting", "--config", "/freqtrade/user_data/config.json", "--strategy", "STRATEGY_PLACEHOLDER", "--timerange", "TIMERANGE_PLACEHOLDER", "--export", "trades", "--export-filename", "results/JOB_ID_PLACEHOLDER/backtest.json"]
    volumes:
      - ./data:/freqtrade/user_data:rw
    networks:
      - client
    mem_limit: ${JOB_MEM_LIMIT}
    cpus: "${JOB_CPU}"
    pids_limit: ${JOB_PIDS_LIMIT}
    security_opt:
      - no-new-privileges:true
    read_only: true
    cap_drop:
      - ALL

networks:
  client:
    external: true
    name: fta-client-CLIENT_ID_PLACEHOLDER
